aside {
    width: 100%;
    padding-top: 30px;
    z-index: 2;

}

.contenedor-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
  
}
.form{
    margin: auto;
    width: 90%;
    border: solid 3px rgb(158, 158, 158);
    border-radius: 2em;
    padding: 30px;
    background-color: rgb(18, 44, 214, 0.2);
}

.titulo {
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
}

.boton {
    background-color: #1834e7;
    height: 10%;
    width: 200px;
    font-size: 24px;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:hover {
    background-color: rgb(95, 96, 160);
}


.item-menu {
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}

.lbl-form {
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    color: #1834e7;
    margin: auto;
    width: 100%;
}

.imp-form {
    margin: auto;
    width: 100%;
    height: 30px;
}
.contenedor-terminos{
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 15px;
    z-index: 2;
}
.titulo-terminos{
    font-size: 16px;
}

@media (min-width: 600px){
    aside {
        width: 100%;
        padding-top: 30px;
        z-index: 2;
        display: flex;
        flex-direction: row;
        margin: 5px;
    
    }
    
    .contenedor-aside {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: auto;
        
    }
    .form{
        border: solid 3px rgb(158, 158, 158);
        border-radius: 2em;
        padding: 30px;
        background-color: rgb(18, 44, 214, 0.2);
    }
    .titulo {
        width: 100%;
        margin: auto;
        justify-content: center;
        text-align: center;
        font-family: sans-serif;
        padding: 20px;
    }
    
    .boton {
        background-color: #1834e7;
        height: 10%;
        width: 200px;
        font-size: 24px;
        color: white;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .boton:hover {
        background-color: rgb(95, 96, 160);
    }
    
    
    .item-menu {
        width: 100%;
        margin: auto;
        padding-bottom: 10px;
    }
    
    .lbl-form {
        display: flex;
        font-family: sans-serif;
        font-weight: bold;
        color: #1834e7;
        margin: auto;
        width: 100%;
    }
    
    .imp-form {
        margin: auto;
        width: 100%;
        height: 30px;
    }
    .contenedor-terminos{
        width: 60%;
        text-align: center;
        font-family: sans-serif;
        margin-bottom: 15px;
        z-index: 2;
        display: flex;
        flex-direction:column;
        margin: 5px;
        justify-content: center;
    }
    .titulo-terminos{
        font-size: 16px;
        
    }
}
@media (min-width: 768px){
    aside {
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin:auto;
        margin-top: 200px;
        flex-wrap: nowrap;
        padding: 0px;
        margin-right: 80px;
    
    }
    
    .contenedor-aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 120%;
        max-width: 120%;
        margin: auto;
        
    }
    .form{
        border: solid 3px rgb(158, 158, 158);
        border-radius: 2em;
        padding: 30px;
        background-color: rgb(18, 44, 214, 0.2);
    }
    .titulo {
        width: 100%;
        margin: auto;
        justify-content: center;
        text-align: center;
        font-family: sans-serif;
        padding: 20px;
    }
    
    .boton {
        background-color: #1834e7;
        height: 10%;
        width: 180px;
        font-size: 18px;
        color: white;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .boton:hover {
        background-color: rgb(95, 96, 160);
    }
    
    
    .item-menu {
        width: 100%;
        margin: auto;
        padding-bottom: 10px;
    }
    
    .lbl-form {
        display: flex;
        font-family: sans-serif;
        font-weight: bold;
        color: #1834e7;
        margin: auto;
        width: 100%;
    }
    
    .imp-form {
        margin: auto;
        width: 100%;
        height: 30px;
    }
    .contenedor-terminos{
        width: 100%;
        text-align: center;
        font-family: sans-serif;
        margin-bottom: 15px;
        z-index: 2;
        display: flex;
        flex-direction:column;
        margin: 5px;
        justify-content: center;
    }
    .titulo-terminos{
        font-size: 16px;
        
    }
}
@media (min-width: 1000px){
    aside {
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin:auto;
        margin-top: 200px;
        flex-wrap: nowrap;
        padding: 0px;
        margin-right: 40px;
    
    }
    
    .contenedor-aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        margin: auto;
        
    }
    .boton {
        background-color: #1834e7;
        height: 10%;
        width: 200px;
        font-size: 24px;
        color: white;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media (min-width: 1250px){
    aside {
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin:auto;
        margin-top: 200px;
        flex-wrap: nowrap;
        padding: 0px;
        margin-right: 40px;
    
    }
    
    .contenedor-aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        max-width: 100%;
        margin: auto;
        
    }
}