* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    margin: auto;
    display: flex;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 3;
    border-bottom: 2px solid white;
}


.menu-hamb {
    display: none;
    margin: 12px 25px 0px auto;
    height: 15px;
}

.cruz-boton {
    display: none;
    margin: 12px 25px 0px auto;
    height: 15px;
}

.titulo-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1834e7;
    margin-top: 3px;
    margin-left: 10px;
    clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0 100%);
    width: 15vw;
}

h6 {
    justify-content: center;
    width: 100%;
    margin: 5px 30px;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;



}

nav {
    display: flex;
    justify-content: center;
    margin: 0px 75px 0px auto;
    align-items: center;
    padding: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    margin: 20px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
    color: #01020a;
    letter-spacing: 0;
}



.link:hover {
    background-color: #11141427;
    cursor: pointer;
}


label {
    display: none;
}

.input-menu {
    display: none;
}

@media (max-width: 1100px) {
    nav {
        display: flex;
        justify-content: center;
        margin: 0px 75px 0px auto;
        align-items: center;
        padding: 0;
    }

    nav ul {
        display: flex;
        list-style: none;
        margin: 10px;
    }

    nav ul li a {
        margin: 20px;
        font-size: 14px;
        text-decoration: none;
        font-family: 'IBM Plex Sans', sans-serif;
        text-transform: uppercase;
        color: #060A24;
        letter-spacing: 0;
    }



    .link:hover {
        background-color: #11141427;
        cursor: pointer;
    }

    .titulo-logo {
        display: flex;
        justify-content: center;
        background-color: #1834e7;
        margin-left: 10px;
        clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0 100%);
        width: 20vw;

    }

    h6 {

        justify-content: center;
        width: 100%;
        margin: 5px 30px;
        font-family: sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;


    }

}

@media (max-width: 768px) {
    header {
        width: 100%;
        height: 45px;
        margin-bottom: 15px;
        margin: auto;
        display: flex;
        position: fixed;
        background-color: #FFFFFF;
    }

    .titulo-logo {
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: #1834e7;
        margin-left: 10px;
        clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0 100%);
        width: 40vw;

    }

    h6 {

        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 5px 30px;
        font-family: sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;


    }

    nav {
        position: absolute;
        background-color: #1834e7;
        width: 100%;
        top: 45px;
        margin-top: -100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        border-spacing: 15px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        height: 50px;
        justify-content: center;
    }

    nav ul {
        flex-direction: row;
        list-style: none;
        margin: 15px;
        height: 200px;
    }

     nav ul li a {
       flex-direction: column;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 16px;
        color: white;
        margin: 15px;
    }

    #checkbtn {
        display: none;
    }

    .menu-hamb {

        display: block;
        margin: 12px 25px 0px auto;
        height: 15px;
    }

    .cruz-boton {
        display: none;
        margin: 12px 25px 0px auto;
        height: 15px;
    }

    header label:hover {
        cursor: pointer;
    }

    #checkbtn:checked~.menu {
        margin: 0;
        transition: all 300ms ease-in;
    }

    #checkbtn:checked~.cruz-boton {
        display: block;
        transition: all 300ms ease-out;

    }

    #checkbtn:checked~.menu-hamb {
        left: 0;
        display: none;
    }
}

@media (max-width: 570px) {


    .titulo-logo {
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: #1834e7;
        margin-left: 10px;
        clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0 100%);
        width: 40vw;

    }

    h6 {

        flex-direction: row;
        justify-content: center;
        width: 200%;
        margin: 5px 30px;
        font-family: sans-serif;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;


    }
}
nav {
    position: absolute;
    background-color: #1834e7;
    width: 100%;
    top: 45px;
    margin-top: -100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-spacing: 15px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 50px;
    justify-content: center;
}

@media (max-width: 430px) {
    nav {
        position: absolute;
        background-color: #1834e7;
        width: 100%;
        top: 45px;
        margin-top: -100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        border-spacing: 15px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        height: 50px;
        justify-content: center;
    }
    nav ul {
        flex-direction: row;
        list-style: none;
        margin: 15px;
        height: 200px;
    }

    nav ul li a {
        flex-direction: column;
         text-decoration: none;
         text-transform: uppercase;
         font-family: 'IBM Plex Sans', sans-serif;
         font-size: 10px;
         color: white;
         margin: 15px;
     }
    .titulo-logo {
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: #1834e7;
        margin-left: 10px;
        clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0 100%);
        width: 50vw;

    }

    h6 {

        flex-direction: row;
        justify-content: center;
        width: 250%;
        margin: 5px 30px;
        font-family: sans-serif;
        font-size: 8px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;


    }
}
@media (max-width: 430px) {
    nav {
        position: absolute;
        background-color: #1834e7;
        width: 100%;
        top: 45px;
        margin-top: -100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        border-spacing: 15px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        height: 50px;
        justify-content: center;
    }
    nav ul {
        flex-direction: row;
        list-style: none;
        margin: 15px;
        height: 200px;
    }

    nav ul li a {
        flex-direction: column;
         text-decoration: none;
         text-transform: uppercase;
         font-family: 'IBM Plex Sans', sans-serif;
         font-size: 8px;
         color: white;
         margin: 15px;
         width: 10%;
     }
    }